body {
   background: #BFD7C1; /* light green */
   color: #262626;
   font-family: Arial, san-serif;
}

#map{
	width: 100%;
	height: 600px;
}

#contact-form { 
   background-color: #87C489;
   width: 465px; 
   padding: 20px; 
   margin: 50px auto; 
   border-radius: 15px;   
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px; 
}
 
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
   font-size: 15px; 
   margin-bottom: 2px;
   font-family: Arial, san-serif;
} 
 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
   width: 450px;
   background: #fff;
   border: 0;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px; 
   border-radius: 5px;
   margin-bottom: 25px; 
   padding: 5px; 
} 
 
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus { 
   background-color: #E5E6E7;
} 
 
#contact-form textarea { 
   height: 150px;   
} 
 
#contact-form #submit { 
   width: 450px;   
   color: #BFD7C1; 
   border: none; 
   background-color: #6EA070;
} 
 
#contact-form #submit:hover { 
   background-color: #BFD7C1; 
   color: #6EA070;
}
 
input:required, textarea:required { 
   box-shadow: none;
   -moz-box-shadow: none; 
   -webkit-box-shadow: none; 
   -o-box-shadow: none; 
}
 
#contact-form .required { 
   font-weight:bold; 
   color: #E5E6E7;     
}
 
#failure, #success {
   color: #6EA070;
   display:none; 
}